~$1234_проверка.xlsx
1234_проверка.xlsx
**/*.cpython-313.pyc
data/projects/**/*.xlsx
data/projects/**/*.xls
*.xlsx
*.xls
*.csv
logs/*.log
budget_forms.db
templates/шаблон_письма.docx
templates/шаблон_решения.docx
